.map {
  overflow:hidden;
  width:100%;
  height:400px;
  top:0;
  left:0;
}

.marker {
  border: none;
  cursor: pointer;
  display: inline-block;
  transform: translate(28px, 28px, 0);
}

.marker-inner {
  float: left;
  height: 28px;
  width: 28px;
  background-size: contain;
  background-image: url(../images/post_marker_round_gray.png);
  -webkit-transition: -webkit-transform .2s ease-in-out;  /* Chrome < 26, Safari < 7 */
  transition: -webkit-transform .2s ease-in-out;          /* Chrome 26-35, Safari, Opera 15-23 */
  transition: transform .2s ease-in-out;                  /* IE10+, Firefox 16+, Chrome 36+, Opera 12.10 */
}

.marker-inner:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.marker-clicked {
  float: left;
  height: 39px;
  width: 39px;
  background-size: contain;
  background-image: url(../images/post_marker_round_colored.png);
}

.interactive-marker {
  border: none;
  cursor: pointer;
/*  display: inline-block;*/  
  height: 50px;
  width: 37px;
  left: -18px;
  top: -53px;
  /*transform: translate(28px, 28px, 0);*/
  background-size: contain;
  background-image: url(../images/post_marker.png);
}

.clearfix { display:block; }
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

/* Marker tweaks */
.mapboxgl-popup {
  padding-bottom: 25px;
}

.mapboxgl-popup-close-button {
  display:none;
}
.mapboxgl-popup-content {
  padding:0;
  width:300px;
  height:150px;
}
.mapboxgl-popup-content-wrapper {
  padding:1%;
}
.mapboxgl-popup-content h3 {
  margin:0;
  display:block;
  font-weight:700;
  margin-top:-15px;
}

.mapboxgl-popup-content h4 {
  margin:0;
  display:block;
  font-weight:400;
  margin: 0;
}

.map-popup-content {
  overflow: hidden; 
  background-size: cover; 
  background-position: center;  
  height: 150px;
}

.map-popup-content-title {
  width: 100%; 
  overflow: hidden; 
  position: absolute; 
  bottom: 0; 
  background-image: linear-gradient(180deg,rgba(0,0,0,0), rgba(0,0,0, 0.6) 50%, rgba(0,0,0,0.8));
}

.map-popup-content-title span {
  float: left; 
  padding-left: 5%; 
  padding-bottom: 5%; 
  padding-top: 5%; 
  padding-right: 5%;
}

.map-popup-content-title a {
  font-size: 20px; 
  line-height: 130%; 
  color: #ffffff; 
  font-family: Roboto Slab;
}

.mapboxgl-container .leaflet-marker-icon { 
  cursor:pointer; 
}